@import "compass/css3";
@import "variable";

// mask
.mask{
  &.white{ background-color: #fff;}
}

//---pink vertical line (for footer)---
.pinkVerLine{ float: left; width: 0.25%; height: 35%; background-color: #dac1d5; margin-top: 2.5%;}

//---black vertical line (for footer)---
.blackVerLine{ width: 2px; height: 12px; background-color: $colorBlack; position: relative; top: 1.4px;}

//---fb btn---
.fb{ background-color: #2d4b90; width: 121px; margin-right: 0.5%;}
.fbIcon{ @include bgImg("common/pcFb.jpg", 45.857% auto, #fff, no-repeat, 65.6%, 3px); width: 17%; height: 58%; @extend %inline-block; vertical-align: sub;
  margin: 0 9% 0 7.3%;}

//---line btn---
.Line{ background-color: #fff; width: 231px;
  >div:not(.lineId){ height: 100%; @extend %floatLeft;}
}
.lineLogo{ width: 49%; position: relative;
  span{ display: block; position: absolute; top: 0; right: 10%;}
}
.lineIcon{ @include bgImg("common/line.png", 21.7% auto, #00be00, no-repeat, 8%, 6px); height: 100%;}
.lineId{ color: #a0a0a0; vertical-align: top; @extend %inline-block; width: 48%; height: 100%;
  span{ vertical-align: top; @extend %inline-block;}
}

// pro list small
.proInfoList.proInfoListSub{ margin: 30px 0 35px;
  &.bottomElement{ 
    margin-bottom: 150px;
    .openHideInfo {
      border-bottom: 1px solid $colorGray2;
    }
  }
  ul{
    li{ border-left: 1px solid $colorGray;
      &:nth-of-type(4n+1){ border: none;}
      .proSaleInfo{ font-size: $font18; color: $colorBlack3; @extend %lineHeight15; margin-bottom: 5px;
        &.top{ font-size: $font19;}
      }
      .procapacity{ @extend %lineHeight15; margin-bottom: 20px;
        span{ font-size: 128%;}
      }
      .btn{ width: auto; padding: 3px 2.5%;}
      .procapacity, .btn{ font-size: $font14; color: $colorPink4; @extend %inline-block;}
      .btn-hover:hover{ color: #fff;}
    }
  }
  &.topListInfo li{ border-left: none;}
}

// classify list with list line
.proInfoList.listLine{
  ul{
    li{ border-right: 1px solid $colorGray; position: relative; margin-bottom: 75px;
      &:after{ content:''; display: block; height: 2px; width: 100%; background-color: $colorGray; position: absolute; top: 95%; left: 0; margin: 60px 0;}
      &:nth-of-type(3n){ border-color: #fff;}
      .procapacity{ margin-bottom: 2px;}
      .proPack{ height: 24px;}
    }
  }
}

// limited sale
.proInfoList.proInfoList-limited{ width: $full; background-color: $colorPurple; border-top: 2px solid $colorPurple2; padding: 0 4%;
  ul{
    li{ background-color: #fff; margin-left: 1.9%; height: 548px; padding: 105px 0 0; position: relative;
      border: 1px solid $colorGray;
      &:nth-of-type(3n+1){ margin-left: 0;}
      .proTitle{ margin-bottom: 0;}
      .proPrice{ color: $colorPink4; font-size: $font21; line-height: 1.7;}
      .proSmallSize{ font-size: $font15;}
      .btn{ width: 75%;}
      .proInfoList-limited-tag{ width: 25%; height: auto; position: absolute; top: 13px; right: 5%;}
    }
  }
}

// series browse btn
.btn{
  &.browse{ font-size: $font20; padding: 7px 0; margin-bottom: 44px; width: 15.5%;}
  &.trackBtn{
    min-width: 100px;
    // text-align: right;
    display: inline-block;
    padding: 8px 0;
    width: 31.6%; @extend %verMiddle;
    font-size: $font18;
    span{
      &.heart{ @include bgImg("common/track.png", 100% auto); width: 19px; height: 16px;display: inline-block; @extend %verMiddle;}
      &.trackWord{ margin-right: 6%; @extend %verMiddle;}
      &.trackAdd{ display: none;}
    }
  }
  &.btn-noBorder{ border: none;}
}

// btn btnPurple btnGray btnPink
.btnPurple, .btnGray{ font-size: $font18; padding: 8px 5%; display: inline-block; color: #fff; border: none;}
.btnPurple{ @include bgImg("common/btnPurple.jpg");
  &.btnPurpleLong{ width: 55%; background-image: url("../images/common/btnPurpleLong.png");}
}
.btnGray{ @include bgImg("common/btnGray.jpg");
  &.btnGrayShort{ width: 43%;}
  &.btnGrayFull{ width: 100%; background-image: url("../images/common/btnGrayFull.png");}
}
.btnPink{ @include bgImg("common/btnPink.png"); color: $colorPink2;
  &.btnPink-shorter{ width: 16.5%;}
}
.btnPink-short{ width: 250px; height: 40px; font-size: $font20; line-height: 40px;}
.btnGrayLight{ @include bgImg("common/btnGrayLight.jpg"); color: $colorBlack; width: 178px;
  &.btnPurpleLong{ background-image: url("../images/common/btnGrayLightLong.jpg");}
}
.btnLonger{ padding: 8px 7%;}

.btn-floatRight{ @extend %flowHidden; padding: 0 0 0 1.5%; margin-bottom: 35px;
  .btn{ @extend %floatRight;}
}

.btn-two-area{ text-align: center;
  .btn{ width: 165px; @extend %inline-block;
    &.m{ display: none;}
    &:nth-of-type(1){ margin-right: 1%;}
  }
  &.btn-two-area-hasBottom{ margin-bottom: 80px;}
  .btnPinkLonger{ width: 200px;}
}

// short btn for order
.btn-short{ padding: 4px 5%;}
// set width for ask btn in order
.btn-table-style{ padding: 4px 8%;}
.btn-ask{ position: relative;
  .ask-unread{ position: absolute; display: block; @include border-radius(50%); background-color: $colorPink2; color: #fff; @include transform(scale(0.74));
    border: 1px solid #fff; text-align: center; padding-left: 1px; right: -10px; top: -10px; width: 25px; height: 25px; line-height: 2.1; font-size: 12px;
  }
}

// breadCrumb
.leftArea{
  #breadCrumb{ padding-left: 0;
    ul li{
      &.to{ margin: 0 1.9%;}
    }
  }
}

// banner in right area
.rightArea #banner{ margin-bottom: 55px;}

// buy info gray btn
.buyInfo{
  .btnPurple{ margin-right: 1%;}
  .btnGray{ padding: 8px 0; width: 36.5%;}
}

// member login
.memLoginTitle.memTitlePurple{ color: $colorPink4; text-align: left; border-bottom: none; margin-bottom: 0;}

// hover style for pc header nav
.hoverStyle{
  li:not(.liNoData):hover{ @include aColor($colorPink16);}
}

//---qa---
.qa-title{ width: 1200px; height: 232px; @include bgImg('qa/qaPc.png', 100% auto);}
.qa-classify{ font-size: $font20; color: $colorGray3; margin-bottom: 60px;
  li{ margin-left: 0.03%; position: relative; line-height: 1.5; padding-top: 15px; cursor: pointer;
    &:after{ content: ''; width: 0; height: 26px; border-left: $colorGray 1px solid; border-right: 1px solid $colorGray2; position: absolute; right: 0; top: 18px;}
    &:nth-of-type(4n+1){ margin-left: 0;}
    &:nth-of-type(4n){
      &:after{ display: none;}
    }
    .doubleLine{ width: 0;}
    &.select{ color: $colorPink4;
      .doubleLine{ width: 100%;}
    }
  }
}
.qa-main{ padding: 0 14.8%;
  &.qa-main-usual{ padding: 0;}
}
.qa-area{ border-bottom: 1px solid $colorGray; padding-bottom: 15px; margin-bottom: 30px; cursor: pointer;
  &:nth-last-of-type(1){ border: none; padding-bottom: 0; margin-bottom: 0;}
  &.select{
    .openHideArrow{ background-position: 0 0;}
    .qa-a{ padding-bottom: 15px;}
  }
  .openHideArrow{ margin-top: 10px;}
  .qa-text{ max-width: 86%; font-size: $full;}
}
.qa-a, .qa-q{ @extend %flowHidden;}
.qa-title-num, .qa-text, .openHideArrow{ @extend %floatLeft;}
.qa-title-num{ width: 8%; color: $colorPink17;}
.qa-text{ margin-top: -3px;}
.qa-symbol{ display: inline-block; width: 26px; height: 29px; @include bgImg('qa/qa.png', 100% auto); vertical-align: bottom;}
// question
.qa-q{ font-size: $font20; color: $colorPink17; font-weight: 100; margin-bottom: 20px;}
.q-num{ padding-left: 3px;}
// answer
.qa-a{ font-size: $full; color: $colorBlack; display: block;
  .qa-symbol{ background-position: 0 100%;}
  .qa-text{ line-height: 1.7; padding-top: 8px;}
}
//---qa usual---
.qa-main-usual{ margin-bottom: 60px;
  .qa-area{
    &:nth-last-of-type(1){ border-bottom: 1px solid $colorGray; padding-bottom: 15px; margin-bottom: 30px;}
  }
}
// contact
.qa-contact{ color: $colorBlack; font-size: $full;
  .btn{ margin: 25px 0 0;}
  .inputStyle{
    span:not(.required){ width: 116px; display: inline-block;}
    input{ width: 242px; padding-left: 1%;}
  }
}
.qa-contact-title{ color: $colorPink17; margin-bottom: 20px;}
.textarea textarea{ width: 100%; height: 165px; border: $colorGray5 1px solid; font-size: 100%; line-height: 1.5; color: $colorBlack; margin-bottom: 20px;
  padding: 0.5% 1%;}

//---news---
.news-img{ width: 100%; height: auto; margin-bottom: 40px;}
.news-area{ margin-bottom: 135px;
  &:nth-last-of-type(2){ margin-bottom: 80px;}
}
.news-title{ font-size: $font3115; color: $colorPink2; margin-bottom: 30px; line-height: 1.4;}
.news-subtitle{ font-size: $font24; color: $colorBlack4; margin-bottom: 40px;}
.news-p{ font-size: 100%; color: $colorBlack; line-height: 2; margin-bottom: 55px;
  &:nth-last-of-type(1){ margin-bottom: 0;}
}
.news-content{ @extend %flowHidden;}
.news-main, .news-pro, .news-pro-text, .news-pro-img{ @extend %floatLeft;}
.news-main{ width: 59.5%;}
.news-pro{ width: 40.5%; padding-left: 12%; margin-top: 5px;
  li{ margin-bottom: 40px; @extend %flowHidden;
    &:nth-last-of-type(1){ margin-bottom: 0;}
  }
}
// news pro
.news-pro-text{ width: 49.5%;}
.news-pro-img{ width: 50.5%;
  img{ width: 100%; height: auto;}
}
 .news-pro-title{ font-size: $font24; color: $colorPink4; border-bottom: 1px solid $colorPink4; padding-bottom: 5px; margin-bottom: 10px; display: inline-block;}
.news-pro-name{ font-size: $full; color: $colorBlack; line-height: 1.7;}
.news-pro-capacity{ font-size: $font13; color: $colorBlack; margin-bottom: 10px;}
.btn-news{ width: 70px; font-size: $font12; margin: 0; padding: 3px 0; position: inherit;
  &.btn-news-more{ font-size: $font24; width: 187px; padding: 7px 0; margin: 0 auto;}
  &.more-right{right: 62px; position: absolute;}
}

//---praise---
.praise-name{ color: $colorPink2; font-size: $font42; text-align: center; padding-bottom: 3px; width: 79.2%; margin: 42px auto 20px;
  border-bottom: 1px solid $colorPink2;
  // shadow
  &:after{ width: 100%; height: 7px; content: ''; display: block; @include gradient2(#fff, rgba(238,236,239,0.5)); position: relative; bottom: -3px;}
  span{ font-size: 57%; margin-right: 35px;}
}
// main
.praise-main{ padding: 0 9.8%; margin: 0 auto;}
.praise-main, .praise-main-area{ @extend %flowHidden;}
.praise-paragraph-float, .praise-pic-float{ @extend %floatLeft;}
.praise-main-area{ margin-bottom: 50px; @include aColor($colorPink2);}
// picture
.praise-pic-1{ width: 37.76%; height: auto;}
.praise-pic-2{ width: 40.2%; height: auto; padding-left: 6.6%;}
// paragraph
.praise-paragraph-1{ width: 62.24%; padding-left: 5%;}
.praise-paragraph-2{ width: 59.8%;
  .praise-para-content{
    &:nth-of-type(1){ margin-top: 10px;}
    &:nth-of-type(2){ margin-top: 30px;}
  }
}
// para title
.praise-para-title{ color: $colorPink2; font-size: $font3115; margin: 20px 0 25px; line-height: 1.5; width: 484px;
  .praise-para-title-line{ border-bottom: 4px solid $colorPink2;}
  .praise-para-title-large{ font-size: 109%;}
}
.praise-para-subtitle{ font-size: $font18; color: $colorPink4; line-height: 1.5; width: 484px; margin-bottom: 30px;}
// content
.praise-para-content{ font-size: $full; color: $colorBlack; line-height: 2;}
// step
.praise-step{ @extend %flowHidden; margin-bottom: 55px;
  li{ margin-left: 1.146%; @extend %floatLeft; width: 32.57%;
    &:nth-of-type(1){ margin-left: 0;}
    img{ width: 100%; height: auto; margin-bottom: 15px;}
    .praise-step-title{ font-size: $full; color: $colorBlack; line-height: 1.5;}
  }
}
// pro
.praise-pro{ width: 245px; padding: 0; margin-top: 0;}

//---praise list---
.praiseList-main{ padding: 0 3%; margin-bottom: 90px;}
.praiseList-big{ margin-top: 0; padding: 5px 60px 35px 0; position: relative;
  &:nth-of-type(1){ margin-top: 30px; padding-top: 35px;}
  .praise-pro{ position: absolute; bottom: 22%; right: 0; width: 18.7%; z-index: 20;}
}
// content
.praiseList-big-content{ padding: 0 1% 0 45.5%;
  .praise-para-title, .praise-para-subtitle{ width: 100%; margin: 0;}
  .praise-para-subtitle, .praise-para-content{ width: 85%;}
  .praise-para-subtitle{ margin-bottom: 10px;}
  .praise-para-content{ margin-bottom: 20px; line-height: 1.7;}
  .btn{ font-size: $font17;}
}
// images
.praiseList-big-imges{ position: absolute; width: 100%; @extend %flowHidden; padding: 35px 0 35px 45px; bottom: 0; left: 0; pointer-events: none;
  &:after{ width: 100%; height: 7px; content: ''; display: block; @include gradient2(#fff, rgba(238,236,239,0.5)); position: absolute; bottom: 20%;}
}
.praiseList-big-img, .praiseList-small-img{ width: 32%; height: 0; padding-bottom: 47%; border: 5px solid #fff; @include box-shadow($colorGray2 0 0 12px 1px);
  @include transform(rotate(-8deg)); position: relative; @extend %flowHidden; z-index: 10; margin-left: 1%;
  img{ width: 120%; height: auto; @include transform(rotate(8deg) translateZ(0)); position: absolute; left: -9%; top: -12%;}
}
.praiseList-big-imgSmall{ position: absolute; bottom: 15%; width: 100%; left: 35.5%; z-index: 1;
  img{ width: 13.5%; height: auto; margin-right: 0.5%;
    &:nth-last-of-type(1){ @include border-radius(0 10px 0 0); margin-right: 0;}
  }
}
// bottom style
.praiseList-bottomStyle{ position: absolute; background-color: #fff; height: 20%; width: 100%; bottom: 0; z-index: 15; border-top: 2px solid $colorPink; left: 4.4%;}
.praiseList-name{ min-width: 190px; height: 45px; text-align: center; background-color: $colorPink4; @include border-radius(10px 10px 0 0); position: absolute;
  bottom: 102%; left: 15px; @include box-shadow($colorGray2 0 0 12px 1px); color: #fff; line-height: 50px; font-size: $font18; padding: 0 2%;
  .praiseList-name-large{ font-size: 127.7%;}
  .praiseList-name-space{ font-size: $font24;}
}

//--small--
.praiseList-smallArea{
  ul{ @extend %flowHidden;}
  li{ padding: 32px 3%; margin-left: 1.9%; position: relative;
    &:nth-of-type(1){ margin-left: 0;}
    .btn{ font-size: 95%; padding-top: 10px;}
  }
  .praiseList-bottomStyle{ left: -10%; top: 80%; width: 110%; height: 28%;}
  .praiseList-name{ min-width: 143px;}
  .praise-para-title{ width: 100%; font-size: $font20; margin-bottom: 10px;}
  .praiseList-small-pro, .praiseList-proCapacity{ display: inline-block; vertical-align: bottom;}
  .praiseList-small-pro{ width: 17%; margin-left: 3%;
    img{ width: 100%; height: auto;}
  }
  .praise-para-content{ font-size: $font15; line-height: 1.7; width: 84%; padding-right: 5%;}
}
// image
.praiseList-small-imges{ position: relative;
  &:after{ width: 100%; height: 7px; content: ''; display: block; @include gradient2(#fff, rgba(238,236,239,0.5)); position: absolute; bottom: 20%;}
}
.praiseList-small-img{ width: 92%; padding-bottom: 120%; @include transform(rotate(6deg) translateZ(0)); margin-left: 2.5%;
  img{ @include transform(rotate(-6deg)); width: 115%; left: -9%; top: -23%;}
}
// content
.praiseList-small-content{ @extend %flowHidden; position: absolute; bottom: 70px; left: 0; z-index: 20; width: 80%; margin-left: 8%;}
.praiseList-proCapacity{ font-size: $font15; color: $colorBlack; border-bottom: $colorPink12 2px solid; padding: 0 0 8px 8.5%; width: 70%; margin-bottom: 4%;}
.praiseList-small-content-bottom{ position: absolute; bottom: 0; left: 0; width: 100%; z-index: 18;}

//---sitemap---
.sitemap{
  .pageTitle{ font-size: $font20; margin-bottom: 15px;
    >div{ min-width: 70%; padding: 0 20px 8px; max-width: 100%;
      .pTitle{ font-size: 100%; color: $colorPink4;}
    }
  }
  .openHideInfo{ padding-left: 30%;
    li{ font-size: $font14; @include aColor($colorBlack4); line-height: 1.8; @include aHover($colorPink17);}
  }
  .sitemap-list{ overflow: hidden; margin-bottom: 70px;
    &:nth-last-of-type(1){ margin-bottom: 0;}
    >li{ margin-left: 0.03%;
      &:nth-of-type(1){ margin-left: 0;}
    }
  }
}

//---video---
.video-list{ margin-top: 70px;
  >ul{
    >li{ margin-bottom: 20px; cursor: pointer;
      &:nth-of-type(2n){ margin-left: 2.3%;}
    }
  }
}
.video-title{ font-size: $font18; color: $colorBlack; text-align: center; line-height: 1.5; margin-top: 10px;}
.video-img{ width: 100%; height: auto; position: relative;
  img{ width: 100%; height: auto;}
}
.video-playBtn{ width: 70px; height: 71px; position: absolute; @include bgImg('video/video_play.png', 100% auto);}
.video-click{ border: 1px solid rgba(0,0,0,0);
  &:hover{ border-color: $colorPurple4;}
}

//---activity---
//--model 1--
.main-activity{ position: relative;
  &:after{ content: ''; width: 7px; height: 100%; display: block; position: absolute; right: -7px; top: 0;
    @include gradient5(rgba(206,206,206,0.6), rgba(255,255,255,0));}
}
.activity-proArea{ position: relative;
  &:after{ content: ''; width: 1160px; height: 5px; display: block; position: absolute; right: 10px; bottom: 5px;
    @include gradient2(rgba(140,140,139,0.23), rgba(255,255,255,0));}
}
.activity-wrap{ margin-top: -3px;}
.activity-wrap, .activity-proArea-1, .activity-proArea-2{ padding: 10px;}
.activity-proArea-1{ height: 390px; @extend %flowHidden; margin-bottom: 10px;
  &:after{ width: 995px;}
  &:nth-last-of-type(1){ margin-bottom: 0;}
}
.activity-pro-textImg, .activity-pro-intro{ @extend %floatLeft; width: 165px;}
// img
.activity-pro-textImg{ height: 100%;
  img{ width: 100%; height: 100%;}
}
// detail
.activity-pro-intro{ width: 995px; margin-bottom: 10px;
  &:nth-last-of-type(1){ margin-bottom: 0;}
}
// list
.activity-pro-list{ overflow: visible; border: 1px solid $colorGray5; background-color: #fff; margin-bottom: 10px; height: 390px; position: relative;
  &:after{ content: ''; width: 100%; height: 5px; display: block; position: absolute; left: 0; bottom: -6px;
    @include gradient2(rgba(140,140,139,0.23), rgba(255,255,255,0));}
  &:nth-last-of-type(1){ margin-bottom: 0;}
  li{ text-align: center; padding: 9px 10px 10px; position: relative; height: 100%;
    &:before{ content: ''; display: block; width: 1px; height: 100%; @include gradient3($colorGray6, $colorGray7); position: absolute; left: 0; top: 0;}
    &:nth-of-type(1):before{ display: none;}
    h4{ font-size: $font24; color: $colorRed3; height: 40px; line-height: 40px;
      &:after{ content: ''; display: block; width: 100%; height: 1px; @include gradient4($colorGray8, $colorGray7);}
    }
    h6{ font-size: $font18; color: $colorBlack5;}
  }
}
.activity-proWrap-a{ display: block; width: 100%; height: 100%;}
.activity-pro-img{ height: 230px; width: 87.9%; margin: 0 auto; position: relative;
  img{ width: 100%; height: auto; position: absolute; bottom: 0; left: 0;}
}
.activity-pro-text{ height: 45px; padding: 5px 0 0;
  span{ color: $colorGray9; font-size: $font12; line-height: 1.7;}
}
.activity-pro-price{ height: 64px; font-size: $font18; }
.activity-price-ori{ color: $colorGray9; text-decoration: line-through; display: block; text-align: left; padding: 8px 0 0 10px;}
.activity-price-now{ color: $colorRed3;
  >span{ font-size: 166.7%;}
}
.activity-buy{ vertical-align: bottom; margin-left: 5%;}

//--model 2--
.activity-proArea-2{ height: 530px; margin-bottom: 10px;
  &:nth-last-of-type(1){ margin-bottom: 0;}
  .activity-pro-textImg, .activity-pro-intro{ float: none; width: 100%;}
  // img
  .activity-pro-textImg{ height: 121px;}
  // detail
  .activity-pro-intro{ width: 100%;}
  .activity-pro-img{ width: 72%;}
  .activity-price-ori{ padding-left: 30px;}
}

//---activity popup window---
.activity-popup{ width: 401px; height: 500px; position: fixed; z-index: 920; border: 1px solid $colorPurple3; display: none;}
.activity-popup-wrap{ width: 100%; height: 100%; border: 1px solid $colorPurple4; position: relative; padding: 28px 18px 24px; @extend %flowHidden;}
.activity-x{ width: 33px; height: 32px; background: url("../images/activity/activittyX.png") 0 0; background-size: 100% auto; position: absolute; top: 0; right: 0;}
.activity-popup-pro, .activity-popup-proDetail{ @extend %floatLeft; height: 100%;}
// pro
.activity-popup-pro{ width: 140px; margin-right: 16px; position: relative;;
  p{ font-size: $font12; color: $colorBlack6; line-height: 2; height: 168px; @extend %flowHidden;}
}
// img
.activity-popup-proimg{ height: 140px; position: relative; margin-bottom: 12px;
  img{ width: 100%; height: auto; position: absolute; bottom: 0; left: 0;}
}
// btn
.btn-activity{ font-size: $font12; color: $colorBlack6; border-color: $colorPink4; width: 72px; position: absolute; right: 0; margin-top: 5px; padding: 5px 0;}
// detail
.activity-popup-proDetail{ width: 205px; border: 1px solid $colorGray10; padding: 10px; background-color: rgba(255,255,255,0.5);}
.activity-proDetail-intro{ height: 350px; padding-bottom: 10px; @extend %flowHidden;}
// title
.activity-popup-title{ font-size: $font18; color: $colorBlack5; line-height: 2; text-align: center; margin-bottom: 10px;}
// pro list
.activity-popup-prolist{ font-size: $font12; color: $colorBlack5; line-height: 1.7; margin-bottom: 10px;
  ul{ color: $colorBlack6; border-top: 1px solid $colorGray11; margin-top: 5px;}
  li{ border-bottom: 1px solid $colorGray11; padding: 5px 0;}
}
// list style
.activity-listStyle{ @include transform(scale(0.85)); display: inline-block; margin-right: 5px;}
.activity-popup-saleTags{
  img{ height: 16px; width: auto;}
}
// check area
.activity-proDetail-check{
  .amount, .total{ margin-bottom: 7px;}
  .amount{ width: 70px; font-size: $font12;
    select{ color: $colorPurple5;}
  }
  .total{ display: inline-block; font-size: $font12; width: 106px; margin-left: 2px; @extend %flowHidden; vertical-align: bottom; color: $colorRed4;
    span{ font-size: 266.7%;}
  }
  .btn{ font-size: $font12;
    &.btnPurple{ width: 78px; padding: 9px 5%; margin-right: 4px;}
    &.btnGray{ width: 96px;}
  }
  .cartImg{ width: 18px; height: 14px;}
}

@media all and (min-width: 768px){
  .activity-pro-list li:hover{ 
    // border: 4px solid $colorGray5; 
    // padding: 4px 6px 5px;
    border: 1px solid $colorGray5; 
    padding-top: 8px;
    .activity-pro-img{ width: 88.7%;}
    .activity-price-ori{ padding-left: 9px;}
  }
  .activity-proArea-2 li:hover{
    .activity-pro-img{ width: 72.7%;}
    .activity-price-ori{ padding-left: 29px;}
  }
}

//---btn detail---
.btn-hover{
  &:hover{ color: #fff; background-color: $colorPink4;}
}
.no-margin-top {
  margin-top:0;
}
