$maxWidth: 1200px;
$full: 100%;
$font90: 562.5%;
$font72: 450%;
$font42: 262.5%;
$font36: 225%;
$font33: 206.25%;
$font32: 200%;
$font3115: 193.75%;
$font30: 187.5%;
$font28: 175%;
$font24: 150%;
$font22: 137.5%;
$font21: 131.25%;
$font20: 125%;
$font19: 118.75%;
$font18: 112.5%;
$font17: 106.25%;
$font1557: 97.3125%;
$font15: 93.75%;
$font14: 87.5%;
$font13: 81.25%;
$font12: 75%;
$font11: 68.75%;
$font10: 62.5%;
$mfont7: 29%;
$mfont12: 50%;
$mfont15: 62.5%;
$mfont1556: 64.8%;
$mfont18: 75%;
$mfont19: 79%;
$mfont20: 83%;
$mfont21: 87.5%;
$mfont2121: 88.375%;
$mfont2127: 88.625%;
$mfont22: 91.7%;
$mfont26: 108%;
$mfont28: 116.7%;
$mfont29: 120.83%;
$mfont2901: 120.875%;
$mfont2931: 122.125%;
$mfont2982: 124.25%;
$mfont30: 125%;
$mfont31: 129%;
$mfont32: 133%;
$mfont36: 150%;
$mfont40: 166.7%;
$mfont42: 175%;
$mfont88: 367%;
$colorPink: #a66f9c;
$colorPink2: #77226c;
$colorPink3: rgb(252,244,248);
$colorPink4: #ba8fb0;
$colorPink5: #e6c6de;
$colorPink6: #cba4c1;
$colorPink7: #945088;
$colorPink8: #ecdce6;
$colorPink9: #9f1b96;
$colorPink10: #eae1e9;
$colorPink11: #d295c3;
$colorPink12: #eacae0;
$colorPink13: #ffecec;
$colorPink14: #7d236a;
$colorPink15: #c59ebd;
$colorPink16: #631e52;
$colorPink17: #ceadc8;
$colorPurple: #f5f0f4;
$colorPurple2: #e9e4e8;
$colorPurple3: #bfa0c9;
$colorPurple4: #af88bc;
$colorPurple5: #88457b;
$colorOrange: #f38475;
$colorOrange2: #f8ccca;
$colorRed: #ff0000;
$colorRed2: #bf1e2d;
$colorRed3: #e61860;
$colorRed4: #e4004f;
$colorBlack: #58595b;
$colorBlack2: #333;
$colorBlack3: #8c8c8b;
$colorBlack4: #6d6e70;
$colorBlack5: #545454;
$colorBlack6: #72737e;
$colorGray: #e8e9ea;
$colorGray2: #c8c8c8;
$colorGray3: #a0a0a0;
$colorGray4: #f1f1f2;
$colorGray5: #ccc;
$colorGray6: #f1f1f1;
$colorGray7: #cdcdcd;
$colorGray8: #fcfcfc;
$colorGray9: #777;
$colorGray10: #e1e1e1;
$colorGray11: #ececec;
$colorFb: #2d4b90;
$colorLine: #00be00;
$colorYahoo: #712b8f;
$screenWidth: 100vw;
$mOriWidth: 640;
$min-width: 1050px;